# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

<div class="span5 alert alert-info">
### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
</div>
****

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [3]:
# number of callbacks for black-sounding names
df_race_b=(data[data.race=='b'])
no_calls_b=sum(df_race_b.call)
df_race_w=(data[data.race=='w'])
no_calls_w=sum(df_race_w.call)
print(len(df_race_b))
print(len(df_race_w))
print("Number of calls for a black sounding name is %d and the number of calls for a white sounding name is %d" %(no_calls_b,no_calls_w))

2435
2435
Number of calls for a black sounding name is 157 and the number of calls for a white sounding name is 235

In [4]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

In [5]:
prob_b=no_calls_b/len(df_race_b)
prob_w=no_calls_w/len(df_race_w)
print(prob_b,prob_w)

difference_prob=abs(prob_b - prob_w)
difference_prob

0.064476386037 0.0965092402464

0.032032854209445585

In [ ]:
#Question 1
#We need to compare the differnece
#between the two proportions to a null value
#so z test would be more appropriate
#CLT applies because of the categorical data.

In [ ]:
#Question 2
#Null hypothesis is there is no
#difference between black sounding names and
#white sounding names for interviews.

#Alternative hypothesis is there is a difference
#between black sounding names and white sounding
#names for interviews.

In [6]:
#Question 3 Margin of error
SE = np.sqrt((prob_w*(1 - prob_w)/(len(df_race_w))) + (prob_b*(1 - prob_b) /(len(df_race_b))))

CV=1.96 

ME=abs(SE*CV)

print("Calls received for white sounding names for thier resumes are between %F and %F" % (difference_prob + ME,difference_prob - ME))

Calls received for white sounding names for thier resumes are between 0.047288 and 0.016777

In [7]:
#Question 4 P-Value
from statsmodels.stats.weightstats import ztest
z_test = ztest(df_race_w.call,df_race_b.call, alternative = 'two-sided')
print("P-value is given by %F and the z -score is given by %F" %(z_test[1],z_test[0]))

P-value is given by 0.000039 and the z -score is given by 4.114705

In [ ]:
#Question 5
#Null hypothesis is incorrect because p-value
#is less than .05. White sounding names receive more
#interview calls compared to black sounding names according
#to this analysis.